@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: #F6F6F5;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    border: none;
}

input {
    outline: none;
}