// text-colors
$title-color: #2D2D2D;
$white-color: #fff;
$list-color: #4A4A4A;
$text-color: #8C8991;
$logo-color: coral;
$link-color: #2C83F5;
// bg-colors
$bg-color: #F6F6F5;
$btn-bg-color: #14A800;

// hovers
$btn-bg-hover: #EDF4FE;
$btn-bg-hover-color: rgba(22, 114, 10, 0.812);
// TEXT SIZE
$default-size: 30px;
$text-1-size: 20px;
$text-size: 15px;
$text-2-size: 25px;


// padding default
$default-padding: 10px 15px;
$padding-x: 10px 20px;


// radius
$radius-default: 5px;
$radius-1-size: 15px;

$border-default: 1px solid rgba(174, 172, 172, 0.69);